.container
  .navbar
    a.logo__link(href="#")
      | Dai
      span.logo__span Katana
      img.shape__logo(src="../img/Shape 1.png", alt="shape")
    button.hamburger.hamburger--simple(type='button')
      span.inner
        span.bar
        span.bar
        span.bar
    nav.nav
      a.nav__link Our Approach
      a.nav__link See Our Work
      a.nav__link Our Blog
    button.btn Contact Us 