extends ./templates/_base

block main 
  .header__hero
    .container
      .hero 
        h3.hero__title 
          span.hero--block Radically Transparent
          span.hero__span Web and Mobile
          |  Development
        .cursor__box 
          img(src="../img/_Layer group .png", alt="layer")
          p.cursor__text
            | Scroll Down To See More
  .header-mid 
    .container-mid
      .flex-container
        .main
          h3.main__title
            | We build applications for people
          p.main__text
            | Watching your idea develop into a valuable application should be fun, not daunting. Our approach makes you an 
            | integral part of the process while improving your tech 
            | along the way.
      fieldset.mid-border 
        legend.border__text Some of Our Dear Clients
