extends ./templates/_base

block main 
  .header__hero
    .container
      .hero 
        h3.hero__title 
          span.hero--block Radically Transparent
          span.hero__span Web and Mobile
          |  Development
        .cursor__box 
          img(src="../img/_Layer group .png", alt="layer")
          p.cursor__text
            | Scroll Down To See More
  .header-mid 
    .container-mid
      .flex-container
        .main
          h3.main__title
            | We build applications for people
          p.main__text
            span.d-block Watching your idea develop into
            span.d-block a valuable application should be fun,
            span.d-block not daunting. Our approach makes
            span.d-block you an integral part of the process while
            span.d-block improving your tech along the way.
      fieldset.mid-border 
        legend.border__text Some of Our Dear Clients
      .row-box
        .box__line
          img(src="../img/agogo.png", alt="agogo")
        .box__line
          img(src="../img/agogo.png", alt="agogo")
        .box__line
          img(src="../img/agogo.png", alt="agogo")
        .box__line
          img(src="../img/agogo.png", alt="agogo")
        .box__line
          img(src="../img/agogo.png", alt="agogo")
        .box__line
          img(src="../img/agogo.png", alt="agogo")
        .box__line
          img(src="../img/agogo.png", alt="agogo")
        .box__line
          img(src="../img/agogo.png", alt="agogo")
        .box__line
          img(src="../img/agogo.png", alt="agogo")
        .box__line
          img(src="../img/agogo.png", alt="agogo")
        .box__line
          img(src="../img/agogo.png", alt="agogo")
        .box__line
          img(src="../img/agogo.png", alt="agogo")
        .box__line
          img(src="../img/agogo.png", alt="agogo")
        .box__line
          img(src="../img/agogo.png", alt="agogo")
        .box__line
          img(src="../img/agogo.png", alt="agogo")
        .box__line
          img(src="../img/agogo.png", alt="agogo")
      .start-project 
        h1.mid__title Want to start the conversation?
        button.mid__btn Contact Us
  .header-bottom 
    .container-bottom 
      .here__box
        .here__title 
          | Digital Expertise
        .here__text 
          span.s-block We have managed every facet of development from 
          span.s-block ideation to launch and use our experience to solve
          span.s-block problems before they arise. Our design-oriented
          span.s-block approach ensures your software will feel like home to
          span.s-block your users, whether you have one or one million. 
        .here__title-bottom 
          | Want to start the conversation?
        button.btn 
          | Contact Us
  .header__footer
    .container-bottom
      .footer__box 
        a.footer__link(href="#")
          | Dai
          span.logo__span Katana
        nav.nav__footer 
          a.nav__link.ms(href="#") Our Blog
          a.nav__link(href="#") Twitter
          a.nav__link(href="#") Facebook

